@model Department
<h1 style="background-color:mediumpurple;color:white" class="alert alert-warning text-center">Create Department</h1>
<div class="row">
	<form class="col-md-6" method="post" asp-controller="Department" asp-action="AddNew" enctype="multipart/form-data">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div>
			<label asp-for="FullName"></label>
			<input type="text" asp-for="FullName" class="form-control" />
			<span asp-validation-for="FullName" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="Description"></label>
			<input type="text" asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>

		</div>

		<div>
			<button type="submit" class="btn btn-primary btn-lg mt-3">Add</button>
			<a asp-controller="Department" asp-action="GetIndexView"  class="btn btn-secondary btn-lg mt-3">Back</a>
		</div>
	</form>
</div>